body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 80%;  
  margin: auto;
}

div {
  margin-top: 50px;
}

input {
  display: block;
  width : 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.info {
  color: red;
}